* {
  outline: 1px solid red;
}
body {
  margin: 0;
  min-width: fit-content;
}
header {
  background-color: rgba(82, 80, 80, 1);
  font-size: 0;
  height: 93px;
  width: 100%;

  .container::before {
    content: "";
    display: inline;
    line-height: 93px;
  }

  .container {
    height: 100%;
    margin: 0 auto;
    width: 933px;

    .logo {
      display: inline-block;
      /* delete h1 margin */
      margin: 0 66px 0 0;
      vertical-align: middle;

      a {
        color: rgba(255, 255, 255, 0.9);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 21px;
        letter-spacing: 5px;
        text-decoration: none;
      }
    }
    nav {
      display: inline-block;
      vertical-align: middle;

      ul {
        display: inline-block;
        padding-left: 0;

        li {
          display: inline-block;

          a {
            color: rgba(255, 255, 255, 0.8);
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
            font-size: 16px;
            padding: 10px;
            text-decoration: none;

            &:hover {
              color: rgba(255, 255, 255, 1);
            }
          }
          + li {
            margin-left: 49px;
          }
        }
      }
    }
  }

  .shopping-cart {
    display: inline-block;
    height: 34px;
    margin-left: 66px;
    vertical-align: middle;
    width: 34px;

    a {
      display: inline-block;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

main {
  /* .banner::before {
    clear: both;
    content: "";
    display: block;
  } */

  .banner {
    .cover {
      background-image: url("./img/cover.jpg");
      background-position: center;
      background-size: cover;
      height: 606px;
      overflow: auto;
      width: 100%;

      .title {
        background-color: rgba(255, 255, 255, 0.5);
        margin: 258px auto 0;
        padding-top: 15px;
        text-align: center;
        width: 552px;

        .brand-name {
          color: rgba(44, 45, 46, 1);
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: 58px;
          line-height: 94px;
          margin: 0;
        }

        a {
          background-color: rgba(44, 45, 46, 1);
          color: white;
          display: inline-block;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 20px;
          line-height: 40px;
          margin-bottom: 29px;
          text-decoration: none;
          width: 214px;
        }
      }
    }

    .sub-title {
      background-color: rgba(228, 228, 228, 1);
      color: rgba(88, 88, 90, 1);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 13px;
      letter-spacing: 3px;
      line-height: 45px;
      text-align: center;
    }
  }
}
