header {
    z-index: 1;
    position: fixed;
    top: 0;
    min-width: 100%;
    background-color: #535151;
}

.head_container {
    width: 1000px;
    margin: 0 auto;
    font-size: 0;
}

header h1,
header nav,
header ul,
header li,
header a {
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
}

header li+li {
    padding-left: 58px;
}

header h1 a {
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}

header a {
    font-size: 16px;
}

header li a {
    color: #000;
    padding: 10px 20px;
    text-transform: capitalize;
}