:root {
    min-width: 1000px;
    --Color-white: white;
    --Color-grey: #e3e3e3;
    --Color-dark: #303132;
    --backgroundcolor-darkgrey: #535151;
    text-decoration: none;

}

*{
    outline: 0.9px solid tomato;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

header {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--backgroundcolor-darkgrey);
}

.header-inner {
    max-width: 1050px;
    margin: 0 auto;
    text-align-last: justify;
    height: 100%;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0;
}

h1{
    color: var(--textColor-grey);
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 7px;
    margin-right: 80px;
}

h1 a{
    font-size: 21px;
    color: var(--Color-grey);
    transition:  0.2s 0.1s;

}
h1 a:hover{
    color: var(--Color-white);
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 58%;
}

header li {
    display: inline-block;
}

a{
    display: inline-block;
}

li a{
    padding: 10px;
    font-size: 17px;
    color: var(--Color-grey);
    vertical-align: middle;
    transition:  0.2s 0.1s;

}

li a:hover{
    color: var(--Color-white);
}

.shopping-cart{
    margin-left: 80px;
    vertical-align: middle;
}
.shopping-cart img{
    width: 40px;   
    transition:  0.2s 0.2s;

}
.shopping-cart img:hover{
    filter: hue-rotate(195deg);

}


